<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <div class="thumbnail">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      </div>
    </aside>
        <div class="span8">
        <div class=" thumbnail">
          <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
      </div>
    </div>
  </div>


  </div>  
<% else %>
<div class="home-box">
  <h1>移動をもっと楽しく</h1>

  <h2>
    「乗せてもらえば？」は車の相乗り相手を簡単に見つけられるマッチングプラットフォームです
  </h2>
</div>
<div class="home-btn">
<%= link_to "さっそく探してみる", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>