<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class='home-box'>
  <h1>移動をもっと楽しく</h1>

  <h2>
    車の相乗りで移動時間をハッピーに
  </h2>
<div class="home-btn">
  <center><%= link_to "さっそく探してみる", signup_path, class: "btn btn-large btn-primary" %></center>
</div>

<% end %>