<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <div class="radio">
  <label><%= f.radio_button :ride_on_flg, "true" %>乗りたい</label>
  <label><%= f.radio_button :ride_on_flg, "false" %>乗せたい</label>
  </div>
出発地
<%= f.text_field :from%>
到着地
<%= f.text_field :to %>
出発日時
    <%= f.datetime_local_field :ridedate %> 
    <%= f.text_area :content, placeholder: "その他のコメント..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>