<li id="<%= noritai_feed.id %>">



   <span class="user">
      <%= link_to noritai_feed.user.name, noritai_feed.user %>
    </span>
 <% if noritai_feed.user.image? %>
　　<%= image_tag(noritai_feed.user.image.thumb.url , :class => "icon thumbnail")%>
　<% else %>
　　<%= image_tag('http://f.st-hatena.com/images/fotolife/j/jimpeipei/20150617/20150617142712.gif?1434518841' , :class => "icon thumbnail") %>
　<% end %>

  <br>

  <span class="from"><%= noritai_feed.from %></span><%= image_tag src='http://f.st-hatena.com/images/fotolife/j/jimpeipei/20150616/20150616214942.jpg?1434458998', :size => '40x40' %><span class="to"><%= noritai_feed.to %></span>
  
    <span class="content"><%= noritai_feed.content %></span>
    <br>
      <span class="ridedate"><%= noritai_feed.ridedate %></span>出発</br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(noritai_feed.created_at) %> ago.
    </span>
  <% if current_user?(noritai_feed.user) %>
    <%= link_to "削除", noritai_feed, method: :delete,
                                     data: { confirm: "本当によろしいですか?" },
                                     title: noritai_feed.content %>
  <% end %>
</li>